<p>
    ToDo List
  </p>
    <div class="task">
    <div class="field-space">
      <span class="title"> Title:</span>
      <input [(ngModel)]="name" type="text" name="name">
    </div>

    <div class="field-space"> 
      <span class="title"> Description:</span>
      <input [(ngModel)]="description" type="text" name="desc">
    </div>

    <div class="field-space" *ngIf="name && description">      
      <span class="title"> Status </span>      
      <input [(ngModel)]="status" type="radio" [value]="true"> Active
      <input [(ngModel)]="status" type="radio" [value]="false"> Not Active
    </div>

    <div class="field-space" *ngIf="name && description">
      <span class="title"> Priority:</span>
      <select [(ngModel)]="priority">
        <option value="primary">Primary</option>
        <option value="secondary">Secondary</option>
      </select>
    </div>  
  </div>
    <button [routerLink]="['']" (click)="addTask()" class="btn btn-primary btn-add">Add Task</button>
  
  <!-- <div class="task" *ngFor="let task of taskList;let i = index">
  
    <div>
      <span class="title">Task id:</span> {{ i + 1 }}       -->

      <!-- <span class="edit" *ngIf="task.name && task.description">
        <button (click)='editTask(i, task)'> E </button>
      </span> -->
    <!-- </div>
    
    <div>
      <div>
      <span class="title"> Title:</span>               
      <p> {{task.name}} </p></div>
    </div>
  
    <div> 
      <div>
      <span class="title"> Priority:</span>      
      <p> {{task.priority}} </p></div>
    </div>    -->
      
  <!-- </div> -->


  